<h1 class="display-4">
    Contato
</h1>

<h3>Direto</h3>
<p>
    Email pessoal: <em>jorgegomes@hotmail.com</em>.
</p>
<p>
    Email institucional: <em>jorge.gomes3@fatec.sp.gov.br</em>.
</p>
<h3>Redes Sociais</h3>
<p>
    Você pode me encontrar nas seguintes redes:
</p>
<ul>
    <li><a href="https://www.linkedin.com/in/jorge-assun%C3%A7%C3%A3o-gomes-a6b33594/">LinkedIn</a></li>
    <li><a href="https://www.deviantart.com/jorge83">Deviant Art</a></li>
    <li><a href="https://github.com/overdev">GitHub</a></li>
</ul>