
<h1 class="display-4">
    Projetos pessoais
</h1>

<h3>Áreas de Interesse</h3>
<p>
    Meus projetos pessoais, nas raríssimas situações em que são levados a cabo --
    afinal, considero-os mais como estudos e pesquisas do que criação e
    desenvolvimento de produtos --, giram em torno de desenvolvimento de jogos,
    interfaces gráficas de usuário e desenvolvimento de linguagens de programação.
</p>
<h3>Repositório pessoal</h3>
<h4>Projetos Particulares</h4>
<p>
    No meu <a href="https://github.com/overdev">repositório</a> estão alguns projetos (completos e incompletos)
    que dizem muito sobre estes meus estudos e pesquisas. Por exemplo:
</p>
<dl class="row">
    <dt class="col-sm-3"><a href="https://github.com/overdev/grusin">grusin</a></dt>
    <dd class="col-sm-9">Uma pequena biblioteca GUI escrita em python.</dd>

    <dt class="col-sm-3"><a href="https://github.com/overdev/git-cheat-sheet">git-cheat-sheet</a></dt>
    <dd class="col-sm-9"><p>Uma lista de referência de comandos git</p>
    </dd>

    <dt class="col-sm-3"><a href="https://github.com/overdev/compiler-construction">compiler-construction</a></dt>
    <dd class="col-sm-9">Conversão em formato Markdown da primeira parte de um livro sobre compiladores</dd>

    <dt class="col-sm-3 text-truncate"><a href="https://github.com/overdev/easygl-0.1.0-alpha1">easygl</a></dt>
    <dd class="col-sm-9">Uma pequena biblioteca escrita em python para abstrair a biblioteca gráfica OpenGL</dd>
</dl>
<h4>Colaborações</h4>
<p>
    Há também pequenas contribuições a projetos de terceiros e desenvolvidos em equipe:
</p>
<dl class="row">
    <dt class="col-sm-3"><a href="https://github.com/overdev/raylib-py">raylib-py</a></dt>
    <dd class="col-sm-9"><em>Langage Binding</em> de uma biblioteca gráfica escrita em C, para Python.</dd>

    <dt class="col-sm-3">Projeto Integrado</dt>
    <dd class="col-sm-9"><p>Projeto privado, em desenvolvimento. Este projeto é um Trabalho de Graduação.</p>
    </dd>
</dl>