<div class="jumbotron">
    <h1 class="display-4">Jorge A. Gomes</h1>
    <p class="lead">Desenvolvedor Front-End, old-school gamer, apreciador de boa música</p>
    <hr class="my-4">
    <p>Este portifolio foi desenvolvido como parte da minha formação acadêmica
        em Análise e Desenvolvimento de Sistemas na Fatec-So em 2020.</p>
</div>

<div class="card-deck">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><a routerLink="/habilidades">Habilidades</a></h5>
            <p class="card-text">Um pouco sobre minhas habilidades em TI e em outras áreas.</p>
            <p class="card-text"><small class="text-muted">Leitura de 2 minutos</small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><a routerLink="/formacao">Formação Acadêmic</a>a</h5>
            <p class="card-text">Tudo que aprendi, dentro e fora das instituições de ensino.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><a routerLink="/experiencia">Experiência Profissional</a></h5>
            <p class="card-text">Minhas experiências profissionais na área de TI</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>