<h1 class="display-4">
    Bio
</h1>

<p>
    So nascido em SP, no ano de 1983. Filho de pai mineiro e mãe baiana,
    cresci e fui criado em São Paulo a maior parte da minha vida.
</p>
<p>
    Estudei em escolas públicas, aos meus 8 anos de idade comecei a desenvolver
    meu talento para desenho, o que me levou ao desejo de ser quadrinista ou ilustrador
    até completar 17 anos, quando tive meu primeiro contato com um computador.
</p>
<p>
    A partir daí minhas atividades começaram a girar em torno das coisas que podiam
    ser feitas em um computador: jogar jogos, investigar as configurações do sistema
    operacional (na época, o Windows 95), acessar internet discada e atravessar madrugadas
    nas salas de bate-papo (da UOL, MSN, ICQ, e afins).
</p>
<p>
    Meu gosto por programação começou quando escrevi meu primeiro programa em Pascal,
    no clássico Turbo Pascal 7. Era uma calculadora -- quem diria? De lá para cá, fui
    aprendendo outras linguagens: C, GML (especifica de um editor de jogos), Python,
    Ruby e, finalmente, javascript. Eu mencionei CSS e HTML? Estas também.
</p>
